* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 900px;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  position: relative;
}

.items {
  position: relative;
  margin-top: 50px;
  height: 300px;
}

.item {
  height: 300px;
  margin: auto;
  display: none;
}

.item img {
  width: 649px; /* Larghezza desiderata */
  height: 315px; /* Altezza desiderata */
  object-fit: cover;
  display: block;
  margin: auto;
}

.item.active {
  display: block;
}

.btn-prev,
.btn-next {
  background-color: rgba(200, 200, 200, 0.8);
  position: absolute;
  font-size: 18px;
  color: #333;
  cursor: pointer;
}

.btn-prev {
  top: 5%; /* dal bordo superiore */
  left: 50%; /* Centra orizzontalmente  */
  transform: translate(-50%, 0);
}

.btn-next {
  bottom: 5%; /* bottom*/
  left: 50%;
  transform: translate(-50%, 0);
  order: 1;
}

.btn-prev::before,
.btn-next::before {
  content: "\2191"; /* Unicode per freccia verso l'alto */
  font-size: 20px;
  color: #333333;
}

.btn-next::before {
  content: "\2193";
}
